BasedOnStyle: LLVM
Language: C
ColumnLimit: 140
IndentWidth: 4
UseTab: Never
ContinuationIndentWidth: 8
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
SortIncludes:
  Enabled: false
